<p style="color: green"><%= notice %></p>
<div class="row" id="jobs">
  <% @jobs.each do |job| %>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <%= render job %>
      <%= link_to "Show this job", job, class: "btn btn-outline-secondary mb-3" %>
    </div>
  <% end %>
</div>
<%= link_to "New job", new_job_path %>
